node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
buck-out/
\.idea/
.gradle/
local.properties
*.iml
*.hprof
.DS_Store
*.pem
android/build/
android/.gradle/
android/app/build/
ios/build/
ios/Pods/
.env
.env.*
!.env.example
